section {
    height: calc(100vh - 100px);
    background-color: #1ABC9C;
    color: #fff;
    padding: 100px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
   & .inner_about{
    height: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: start;
    >div{
        flex: 1;
    }
    
   }
}

@media(max-width : 768px){
    section{
        height: auto;
        padding: 50px 20px;
    }
    section .inner_about{
        flex-direction: column;
        width: 100% ;
        & :first-child{
            margin-top: 20px;
        }
    }
}