nav{
    padding: 30px;
    background-color: salmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        list-style: none;
        >li{
        cursor: pointer;

        }        
    }
    >div{
        flex-grow: 1;
        cursor: pointer;

    }

}