nav{
    a{
        text-decoration: none;
        color: #000;
    }
    padding: 30px;
    background-color: salmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        list-style: none;
        >li{
        cursor: pointer;
    }        
    }
    >div{
        flex-grow: 1;
        cursor: pointer;

    }

}

.active{
    color: #fff !important;
    font-size: 20px;
    padding: 10px;
    background-color: #0000003c;
    border-radius: 10px;
    transition: all 0.5s;
}
