section{
    text-align: center;
    padding: 70px 0;
    div{
        width: 70%;
        margin: 20px auto;
        >input , textarea{
            width: 100%;
            height: 30px;
        }
    }
}