.imgs_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 70px 50px;
    >div{
        width: 30%;
        cursor: pointer;
    }
}

@media(max-width : 768px){
    .imgs_container{
        flex-direction: column;
        >div{
            width: 100%;
        }
    }
}