main{
    background-color: #1ABC9C;
    text-align: center;
    >#banner{
        height: calc(100vh - 80px);
        padding-top: 100px;
    }
 >:last-child{
    background-color:#2C3E50;
    padding: 120px ;
    display: flex;
    justify-content: center;
    align-items: start;
    /* gap: 50px; */
    >div{
        flex: 1;
        color: #fff;
        
    }
    :nth-child(2)>div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        >span{
            padding: 12px;
            border: 1px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            transition: all 1s;
            &:hover{
                color: #000;
                background-color: #fff;
            }
        }
    }
 }
    
}
.img_container{

    width: 20%;
    margin:  auto;
    
}
@media (max-width : 768px){
    main :last-child {
        flex-direction: column;
        padding: 50px 0;
        justify-content: center;
        align-items: center;
        :nth-child(2){
            flex-direction: row;
        }
        
    }
}